:root {
    --liteness: 94%;
    --bgcolor: hsl(0, 0%, calc(var(--liteness)));
    --fgcolor: hsl(0, 0%, calc(100% - var(--liteness)));
    --bgoff: hsl(0, 0%, calc(0.88 * var(--liteness)));
}

body {
    font-family: system-ui;
    background-color: var(--bgcolor);
    color: var(--fgcolor);
}

.haxsh-buddies {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: 3em;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: var(--bgoff);
    box-shadow: 0 0 0.44em 0 black;
}

.haxsh-buddies:hover {
    scrollbar-width: thin;
    -ms-overflow-style: auto;
}

.haxsh-buddies::-webkit-scrollbar {
    display: none;
}

.haxsh-buddies>ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.buddy-pic {
    display: block;
    padding: 0;
    margin: 0.25em;
    height: 2.5em;
    width: 2.5em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 77em;
    filter: sepia(0.55) grayscale(0);
    transition: all 0.44s ease-in-out;
}

.buddy-pic.offline {
    filter: sepia(0) grayscale(1);
}

.buddy-pic:hover,
.buddy-pic.offline:hover {
    filter: sepia(0.11) grayscale(0);
}

.haxsh-posts {
    margin-right: 3.88em;
}

.haxsh-posts>div {
    margin-left: auto;
    margin-right: auto;
    max-width: 32.1em;
}

.haxsh-posts .post {
    clear: left;
    margin-top: 1.23em;
}

.haxsh-posts .post-head {
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-wrap: nowrap;
    width: 1.23em;
}

.haxsh-posts .post-content {
    margin-left: 1.4em;
}

.haxsh-posts .post-ago {
    float: left;
    color: #b0b0b0;
    width: 1.23em;
    margin-top: 0.22em;
    font-size: 0.77em;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.haxsh-posts .buddy-pic {
    display: inline-block;
    margin: 0;
    width: 1.23em;
    height: 1.23em;
}
