body {}

.haxsh-buddies {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: 3em;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.haxsh-buddies:hover {
    scrollbar-width: thin;
    -ms-overflow-style: auto;
}

.haxsh-buddies::-webkit-scrollbar {
    display: none;
}

.haxsh-buddies>ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.buddy-pic {
    display: block;
    padding: 0;
    margin: 0.25em;
    height: 2.5em;
    width: 2.5em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 77em;
    filter: sepia(0.55) grayscale(0);
    transition: all 0.44s ease-in-out;
}

.buddy-pic.offline {
    filter: sepia(0) grayscale(1);
}

.buddy-pic:hover,
.buddy-pic.offline:hover {
    filter: sepia(0.11) grayscale(0);
}
